#banner {
    margin-top: 50px;
    position: relative;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    color: #fff;
}

#banner h2 {
    margin-top: -25%;
    font-size: 28px;
}

#banner a {
    position: relative;
    width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 6px;
    top: -17px;
    border: 3px solid #fff;
    text-align: center;
}

#banner img {
    height: 800px;
    width: 100%;
}