    #blog h3,h4 {
    text-align: center;
    padding: 10px;
    background: rgba(51,51,51,0.9);
    border-radius: 50px;
    color: white;
}

#blog h4 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
    width: 450px;
}

#blog article h4 {
    background: rgba(51,51,51,0.9);
    cursor: pointer;
}

#blog .listas {
    width: 100%;
    max-width: 450px;
    height: 300px;
    border: solid;
    border-width: thin;
    background: #CACACA;
    overflow: auto;
}

#blog .listas p {
    position: sticky;
    padding: 8px;
    font-size: 17px;
}

#blog .listas p:hover {
    background: rgba(255,255,255,0.8);
}

.buscador #buscador input [type=input]{
    margin: 0 auto;
    width: 370px;
    line-height: 2;
    background-color: red;
}

#buscador p{
    width: 100%;
    font-size: 20px;
    background-color: red;
}