@import url(https://fonts.googleapis.com/css?gamily=Open+Sans);
@import url(menuLogin.css);
@import url(bannerLogin.css);
@import url(infoLogin.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    margin-top: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width:100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
    margin-top: 1000px;
}

.menu ul ul {
    display: none;
}

.menu ul {
    list-style: none;
}

.menu a span {
    margin-left: 10px;
    
}

.menu ul li:hover ul {
    display: block;
}

.submenuu {
    background-color: rgba(255,255,255,0.2);
    list-style: none;
}

.menuuser {
    list-style: none;
}

.menuuser a span {
    margin-left: 10px;
}

.menuuser a:hover {
    display: block;
}

#menu-user {
    display: none;
}

header #label1 {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menuuser {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    height: 100vh;
    background: rgba(51,51,51,.9);
    transition: all 0.5s;
    transform: translateX(100%);
}

.menuuser a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.menuuser a:hover {
    background: rgba(255,255,255,.3);
}

#menu-user:checked ~ .menuuser {
    transform: translateX(70%);
}

form #botoncerrar {
    width: 170px;
    padding: 10px;
    border-radius: 15px;
    border: thin;
    margin-top: 190px;
}

form #botoncerrar:hover {
    cursor: pointer;
    background: rgba(51,51,51,0.5);
    box-shadow: 0px 0px 35px #fff;
    color: #fff;
}