/*#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1000px;
}

.info-music {
    margin: 20px;
}

.info-music img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

#info h4 {
    padding: 10%;
}*/