#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    
}

.menu p {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    
}

.menu footer {
    margin-top: 500px;
}

.menu footer a {
    color: #fff;
}

#boton {
    cursor: pointer;
}

.menu a:hover {
    background: rgba(51,51,51,0.5);
    
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

#menu-user {
    display: none;
}

header #label1 {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menuuser {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    height: 100vh;
    background: rgba(51,51,51,.9);
    transition: all 0.5s;
    transform: translateX(100%);
}

.menuuser a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.menuuser a:hover {
    background: rgba(255,255,255,.3);
}

#menu-user:checked ~ .menuuser {
    transform: translateX(70%);
}