#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50;
    right: 0;
    width: 20%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(100%);
}

.login {
    position: absolute;
    top: 10%;
    left:10%;
    width: 40%;
    height: 100vh;


}

.login p{
    display: block;
    color:#fff;
    padding: 10px;
    right:0;    
}


.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu p {
        display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
    background: rgba(51,51,51,0.5);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}